<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="PetCareDB"
			 connectionString="Data Source=PHCT59MTJJ\MSSQLSERVER01;Initial Catalog=PetCareDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />

		<add name="PetCareDBOpt"
			 connectionString="Data Source=PHCT59MTJJ\MSSQLSERVER01;Initial Catalog=PetCareDBOpt;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
